* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color-scheme: dark;
}

@font-face {
  font-family: Segoe UI Variable;
  src: url(/_next/static/media/SegoeUIVariable.c39562e47372b469a8fda5bd443bcc9c.woff2) format("woff2"), url(/_next/static/media/SegoeUIVariable.d73486dd9ea91d60bd16f9839ffb76bb.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@font-face {
  font-family: Segoe UI Variable;
  src: url(https://www.cssfontstack.com/Segoe-UI);
}
.index-body {
  display: flex;
  justify-content: none;
  align-items: none;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
  transition: filter 0.3s ease;
  font-family: Segoe UI;
}
.index-body .icon-container {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80vh;
  position: absolute;
  top: 20px;
  left: 20px;
  gap: 10px;
  margin-top: 20px;
}
.index-body .icon-container a {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.index-body .icon-container a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.1) inset;
  border-radius: 5px;
}
.index-body .icon-container .icons {
  height: 40px;
}
.index-body .icon-container p {
  font-size: 12px;
}
.index-body .bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  object-fit: cover;
  z-index: -1;
}

.night-mode {
  background-color: rgba(80, 67, 49, 0.3803921569);
  color: #e0e0e0;
  filter: sepia(0.5);
}

.offcanvas-layout {
  position: absolute;
  bottom: -500px;
  margin-bottom: 75px;
  overflow: hidden;
  background-color: rgba(28, 33, 39, 0.8);
  transition: all 0.5s ease-in-out 0s;
  border-radius: 10px;
  backdrop-filter: blur(20.5px);
  box-shadow: -2px 2px 15px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(204, 204, 204, 0.2117647059);
  z-index: -1;
}

@media (max-width: 880px) {
  .index-body {
    background-image: url("https://supportkb.dell.com/img/ka06P000000spFFQAY/ka06P000000spFFQAY_es_MX_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99999;
    pointer-events: none;
  }
  .bg {
    display: none;
  }
  header {
    display: none;
  }
  main {
    display: none;
  }
}
.tooltip-box {
  background-color: rgba(0, 0, 0, 0.2);
  line-height: 20px;
  z-index: 500;
  text-align: center;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 15rem;
  position: absolute;
  right: 5px;
  bottom: 75px;
  opacity: 0;
  pointer-events: none;
}

header {
  /*  width: 100%; */
  z-index: 1;
  margin-top: auto;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 2rem;
  background: rgba(3, 21, 41, 0.35);
  padding: 5px 5px;
  width: 100%;
  backdrop-filter: blur(20.5px);
  border-top: 1px solid grey;
}
header .nav .inicio {
  margin-right: 600px;
}
header .nav .inicio__icon {
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 15px;
}
header .nav .inicio__icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.1) inset;
}
header .nav small {
  font-size: 14px;
}
header .nav__system-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 15px;
  gap: 0.8rem;
}
header .nav__system-status:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.1) inset;
}
header .nav__system-status-wifi span {
  text-transform: uppercase;
}
header .nav__system-status-wifi:hover .wifi-conection {
  opacity: 1;
  animation: fadeIn 0.6s ease-in;
}
header .nav__system-status-battery:hover .battery {
  opacity: 1;
  animation: fadeIn 0.6s ease-in;
}
header .nav__system-status-sound:hover .sound {
  opacity: 1;
  animation: fadeIn 0.6s ease-in;
}
header .nav__system-date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 15px;
  gap: 0.8rem;
}
header .nav__system-date:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.1) inset;
}
header .nav__system-date .date:hover .tooltip-box {
  opacity: 1;
  animation: fadeIn 0.6s ease-in;
}
header .nav__system-date .date__clock {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  text-align: end;
  font-size: 15px;
}
header .nav__system-date .date__fecha {
  font-size: 14px;
}
header .nav__alert {
  text-transform: capitalize;
}
header .nav__alert:hover .alert {
  opacity: 1;
  animation: fadeIn 0.6s ease-in;
}
header .nav__system-leng {
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
}
header .nav__system-leng:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.1) inset;
}
header .nav__system-icons {
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
header .nav__system-icons:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.1) inset;
}
header .nav .weather p {
  font-size: 14px;
}

.system {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

textarea {
  resize: none;
  border: none;
  background-color: #000;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: monospace;
  white-space: pre-wrap;
}
textarea:focus {
  outline: none;
}

.offCanvasStatus {
  right: 0;
  width: 360px;
  height: 410px;
  transform: translateX(-1rem);
}
.offCanvasStatus .offCanvasStatus-content {
  width: 100%;
  height: 90%;
  background: rgba(28, 33, 39, 0.63);
}
.offCanvasStatus .offCanvasStatus-content .buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  padding: 15px;
}
.offCanvasStatus .offCanvasStatus-content .buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-transform: capitalize;
}
.offCanvasStatus .offCanvasStatus-content .buttons .button small {
  margin: 7px;
  font-size: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.offCanvasStatus .offCanvasStatus-content .buttons .button button:hover {
  background-color: rgba(255, 255, 255, 0.221);
}
.offCanvasStatus .offCanvasStatus-content .buttons .card {
  width: 100%;
  height: 80%;
  padding: 0.75rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.055);
  cursor: pointer;
  border: 0px;
  transition: all 0.2s ease-in-out 0s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px;
}
.offCanvasStatus .offCanvasStatus-content .buttons .wifi-active {
  background-color: hsla(311, 89%, 63%, 0.888);
}
.offCanvasStatus .offCanvasStatus-content .buttons .wifi-active:hover {
  background-color: hsla(311, 81%, 75%, 0.986) !important;
}
.offCanvasStatus .offCanvasStatus-content .range {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
.offCanvasStatus .offCanvasStatus-content .range article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.offCanvasStatus .offCanvasStatus-content .range article div {
  width: 80%;
}
.offCanvasStatus .offCanvasStatus-content .range article input {
  margin-left: 15px;
  width: 80%;
}
.offCanvasStatus .status-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 15px;
}
.offCanvasStatus .status-battery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}
.offCanvasStatus .config {
  margin-top: 4px;
  cursor: pointer;
}

.offCanvasInicio {
  left: 50%;
  transform: translateX(-55%);
  width: 80%;
  max-width: 600px;
  height: 520px;
  bottom: -70rem;
}
.offCanvasInicio .offCanvasInicio-content {
  width: 100%;
  height: 85%;
  background: rgba(28, 33, 39, 0.63);
  padding: 25px;
  font-size: 14px;
}
.offCanvasInicio .offCanvasInicio-content input {
  padding: 15px 15px 15px 35px;
  border-radius: 20px;
  width: 100%;
  height: 18px;
  background-color: #1b1b1b;
  border: 1px solid rgba(204, 204, 204, 0.2117647059);
  font-size: 14px;
  position: relative;
}
.offCanvasInicio .offCanvasInicio-content input:focus {
  background-color: #222;
  outline: none;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}
.offCanvasInicio .offCanvasInicio-content input::placeholder {
  padding: 20px;
}
.offCanvasInicio .offCanvasInicio-content .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
.offCanvasInicio .offCanvasInicio-content .search-container img {
  margin-left: 10px;
  position: absolute;
  height: 15px;
  left: 0;
}
.offCanvasInicio .offCanvasInicio-content .icons {
  margin-top: 20px;
  display: grid;
  justify-content: none;
  align-items: none;
  flex-wrap: wrap;
  grid-template-columns: repeat(6, 1fr);
}
.offCanvasInicio .offCanvasInicio-content .icons a {
  text-decoration: none;
  color: #fff;
}
.offCanvasInicio .offCanvasInicio-content .icons > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px 20px;
}
.offCanvasInicio .offCanvasInicio-content .icons > *:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.1) inset;
}
.offCanvasInicio .offCanvasInicio-content .icons img {
  height: 32px;
  margin-bottom: 10px;
}
.offCanvasInicio .offCanvasInicio-content .icons p {
  font-size: 12px;
}
.offCanvasInicio .offCanvasInicio-content .sub-title, .offCanvasInicio .offCanvasInicio-content .recomendaciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 25px 0 25px;
}
.offCanvasInicio .offCanvasInicio-content .sub-title a, .offCanvasInicio .offCanvasInicio-content .recomendaciones a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  color: #f1f1f1;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 5px;
}
.offCanvasInicio .offCanvasInicio-content .sub-title a img, .offCanvasInicio .offCanvasInicio-content .recomendaciones a img {
  rotate: 90deg;
  height: 20px;
}
.offCanvasInicio .offCanvasInicio-content .sub-title a:hover, .offCanvasInicio .offCanvasInicio-content .recomendaciones a:hover {
  background-color: rgba(255, 255, 255, 0.136);
  box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.1) inset;
}
.offCanvasInicio .status-footer {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.offCanvasInicio .status-footer__user {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 2px;
}
.offCanvasInicio .status-footer__user:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.1) inset;
}
.offCanvasInicio .status-footer__user, .offCanvasInicio .status-footer .off {
  border-radius: 5px;
  margin-top: 20px;
}
.offCanvasInicio .status-footer .off {
  padding: 10px;
}
.offCanvasInicio .status-footer .off:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.1) inset;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #222;
  border: 1px solid rgba(204, 204, 204, 0.2117647059);
  border-top: none;
  display: none;
  z-index: 1000;
  border-radius: 0 0 5px 5px;
}
.suggestions:focus {
  outline: line;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.suggestion:hover {
  background-color: rgba(206, 205, 205, 0.3411764706);
}

.clearButton {
  width: 15px;
  background-color: #999;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: none;
}
.clearButton:hover {
  background-color: #aeabab;
}

.draggable-window {
  bottom: 35%;
  left: 30%;
  width: 800px;
  height: 380px;
  background-color: rgba(24, 24, 24, 0.5058823529);
  border: 1px solid rgba(61, 60, 60, 0.6784313725);
  backdrop-filter: blur(20.5px);
  border-radius: 5px;
  position: absolute;
  transition: left 0.2s, top 0.2s;
  display: none;
  backdrop-filter: blur(20.5px);
}
.draggable-window .window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 40px;
  background-color: rgba(34, 34, 34, 0.276);
}
.draggable-window .window-header .max-mix-close {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.draggable-window .window-header .max-mix-close .closebtn {
  border-radius: 0px 5px 0px 0px;
}
.draggable-window .window-header .max-mix-close .closebtn:hover {
  background-color: red;
}
.draggable-window .window-header .max-mix-close div {
  padding: 9px;
}
.draggable-window .window-header .max-mix-close div img {
  height: 18px;
}
.draggable-window .window-header .max-mix-close div:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.1) inset;
}
.draggable-window .window-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #222;
  height: 100%;
  border-radius: 0 0 5px 5px;
}
.draggable-window .window-container iframe {
  width: 100%;
  height: 100%;
}

.fade-out {
  animation: fadeOut 0.3s ease-out;
}

.weather {
  margin-left: 5px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.weather:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.1) inset;
  border-radius: 5px;
}

.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px;
  text-align: center;
  gap: 10px;
  bottom: 0;
  left: -600px;
}
.weather-container .form h3 {
  margin-bottom: 20px;
  font-size: 16px;
}
.weather-container .form .form-input-container i {
  position: absolute;
  right: 50px;
  top: 57px;
  font-size: 12px;
}
.weather-container .form input {
  background-color: #1b1b1b;
  width: 90%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 8px 40px 8px 8px;
  margin-bottom: 20px;
  position: relative;
}
.weather-container .form input:focus {
  outline: none;
  background-color: #222;
}
.weather-container .form input::placeholder {
  font-size: 10px;
}
.weather-container .weather-data i {
  font-size: 16px;
}
.weather-container .weather-data span {
  font-size: 16px;
}
.weather-container #desctiption-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.weather-container .city-photo {
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 250px;
  border-radius: 20px;
}

#details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

body {
  color: rgb(220, 215, 215);
}
body .header-roadmap {
  text-align: center;
  padding: 40px 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.179);
}
body .header-roadmap h1 {
  background: linear-gradient(180deg, rgb(196, 147, 245) 10%, rgb(106, 6, 201) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: capitalize;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}
body .header-roadmap p {
  position: absolute;
  top: 135px;
  padding: 10px;
  border: 1px solid grey;
  background-color: #222;
  border-radius: 20px;
  z-index: 100;
}
body .header-roadmap span {
  font-size: 18px;
}
body .main-roadmap ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 35px;
  list-style: none;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
