.index-body {
  @include flex($jc:none,$al:none);
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
  transition: filter 0.3s ease;
  
 

  .icon-container {
    @include flex($jc:none);
    flex-direction: column;
    height: 80vh;
    position: absolute;
    top: 20px;
    left: 20px;
    gap: 15px;
    & a {
      padding: 5px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow:1px 2px 1px rgba(255, 255, 255, 0.1) inset ;
        border-radius: 5px;
    }
    }
    & .icons{
      height: 80px;
      
    }
  }
  
    & .bg {
        width: 100%;
       height: 100vh;
       position: absolute;
       top: 0;
       object-fit: cover;
       z-index: -1;
    }

}

.night-mode {
    background-color: #50433161;
    color: #e0e0e0; 
    filter: sepia(0.5); 
  }
  
  .offcanvas-layout {
    position: absolute;
    bottom: -500px ;
    margin-bottom: 75px;
    overflow: hidden;
    background-color: rgba(28, 33, 39, 0.8);
    transition: all 0.5s ease-in-out 0s;
    border-radius: 10px;
    backdrop-filter: blur(20.5px);
    box-shadow: -2px 2px 15px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid #cccccc36;
    z-index: -1;
  }

  @media (max-width: 880px){
    html{
      background-image: url('https://supportkb.dell.com/img/ka06P000000spFFQAY/ka06P000000spFFQAY_es_MX_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99999;
    pointer-events: none;

    }

    .bg{
      display: none;
    }

    header {
      display: none;
    }

    main {
      display: none;
    }
  }