body {
    background-color: #fff;
    .header-roadmap {
        @include flex;
        flex-direction: column;
        & img {
            height: 100px;
            width: 50%;
        }
        & h1 {
            color: #000;
        }
   
    }
}